# Data types in python
- numbers
- variables
- strings
- arrays
- list
- dictionary
- set

## Types of Numbers
- Integers
- Floating-Point numbers
- Complex numbers

### Integers
- Integers are the number such as 1, 8, -6, 100,...
- Integer arithmetic is exact
### Floating-Point Numbers
- These are the representation of real numbers
- In general, the representation do not have the exact value is approximated value
- Any single number containing a period (“.”) is considered by Python to specify a floating-point number

In [1]:
4/3

1.3333333333333333

In [195]:
6-5.7

0.2999999999999998

### Complex Numbers
- Numbers of the form $a+bj$
- It consists of real part and imaginary part
- Each part of complex number is a floating-point number
- Complex number arithmetic is not exact but subject to the same finite precision considerations as floats.

In [2]:
complex(2,6)

(2+6j)

In [4]:
a=2+6j
type(a)

complex

## Basic Arithmetic
- Addition +
- Subtraction -
- Multiplication *
- Floating-point division /
- Integer Division (quotient) //
- Modulus (remainder) %
- Exponentiation

In [5]:
# Addition
2+3

5

In [6]:
# Subtraction
2-3

-1

In [7]:
# Multiplication
2*3

6

In [8]:
# Floting-point division
2/3

0.6666666666666666

In [13]:
# Integer division
# Always rounds down the result to
# the nearest smaller integer
# Also known as floor division
2//3

0

In [15]:
8.5//3

2.0

In [10]:
5//2

2

In [11]:
5%2

1

In [12]:
5**2

25

### Methods and Attributes of Numbers
Python numbers are objects and have certain attributes, which are accessed using the "dot". For instance, complex number objects have the attributes real and imag, which are real and imaginery parts of the number.

In [6]:
a = (2+6j)
a.conjugate()

(2-6j)

In [7]:
type(a)
#dir(a)

complex

In [8]:
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [17]:
(7+4j).imag

4.0

Other attributes of complex number objects are `methods`: callable functions that act on their object in some way. For instance, `conjugate` is a method for the object complex number.

In [4]:
(7+4j).conjugate()

(7-4j)

Here, the empty parentheses indicate that the method is to be `called`, i.e., the function to calculate the complex conjugate is to be run on the number $7+4j$

## Mathematical Functions
Built-in mathe matical functions are `abs` and `round`.

In [19]:
abs(-5.7)

5.7

In [25]:
abs(3+5j)

5.830951894845301

In [21]:
abs(-2)

2

In [26]:
abs(3+4j)

5.0

In [27]:
round(-9.72)

-10

In [10]:
round(4.51)

5

In [6]:
round(4.567894,3)

4.568

Python is a very modular language: functionality is available in packages and modules that are `imported` if they are needed but are not loaded by default: this keeps the memory required to run a Python program to a minimum and improves performance.


For instance, many useful mathematical functions are provided by the `math` module, which is imported with the statement `import math`

In [11]:
import math
#import numpy
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [31]:
math.cos(0)

1.0

In [32]:
math.sqrt(16)

4.0

In [33]:
math.pi

3.141592653589793

In [34]:
math.factorial(5)

120

For more details about math module you can visit its [documentation](https://docs.python.org/3/library/math.html).

# Variables
When an object created (like `float`) in a Python, memory is allocated for it: the location of this memory within the computer's architecture is called `address`

> A `variable` is a name that refers to a value.

A variable name can be assigned (“bound”) to any object and used to identify that object in future calculations

In [35]:
id(5.3)

2533340724720

In [14]:
a = 5.3
print(id(5.3))
print(id(a))

2084757619920
2084757620528

This number refers to a specific location in memory that has been allocated to hold the
float object with the value 5.3.

In [10]:
a = 3
b = -0.5
c = a*b
c

-1.5

Note that we did not have to declare the variables before we assign them (tell Python
that the variable name `a` is to refer to an integer, `b` is to refer to a floating-point number, etc.), as is necessary in some computer languages.

### Variable Names
There are some rules about what makes a valid variable name:
- Variable names are *case-sensitive*: a and A are different variables;
- Variable names can contain any letter, the underscore character (“_”) and any digit (0–9)
- ... but must not *start with* a digit;
- A variable name must not be the same as one of the reserved keywords given in given Table.
- The built-in constant names `True`, `False` and `None` cannot be assigned as variable names.
- There are total 35 reserved key words in Python, you can't use as variable name.

```
and       del       from      None      True
as        elif      global    nonlocal  try
assert    else      if        not       while
break     except    import    or        with
class     False     in        pass      yield
continue  finally   is        raise     async
def       for       lambda    return    await


```

Good practice in naming variables:
- Variable names should be meaningful (area is better than a) but not too long (the_area_of_the_triangle is unwieldy);
- Generally, don’t use I (upper-case i), l (lower-case L) or the upper-case letter O: they look too much like the digits 1 and 0;
- The variable names i, j and k are usually used as integer counters;
- Use lower-case names, with words separated by underscores rather than “CamelCase”: for example, *mean_height* and not *MeanHeight*.

In [12]:
# Example
a = 4.5
b = 2
c = 3.902
d = 4.12
s = (a + b + c)/2
#area of the triangle
#Heron's formulae
area = math.sqrt(s * (s-a)*(s-b)*(s-c))
area

3.8935866886713875

In [13]:
type(s)

float

In [41]:
id(s)

2533356147184

In [14]:
id(area)

1904610635632

## Operators

The main comparison operators used in Python to compare
objects are given below:


|     | Operator                |
| --- | ----------------------  |
| ==  | Equal to                |
| !=  | Not Equal to            |
| >   | Greater than            |
| <   | Less than               |
| >=  | Greater than or equal to|
|<=   | Less than or equal to   |

In [15]:
7 == 8

False

In [16]:
4 >= 3.14

True

- The single equals sign is an *assignment*, which doesn't return a value
- The double equals sign is a logical statement which return `True` or `False`.

In [16]:
a = 0.01
b = 0.1**2
print(b)
a == b

0.010000000000000002

False

In [19]:
(0.1)**2

0.010000000000000002

In [20]:
c = 4.5
c = a 
c

0.01

### Logical Operators
Comparisons can be modified and strung together with the logic operator keywords `and`, `not` and `or`.

In [47]:
7.0 > 4 and -1 >= 0

False

In [48]:
5 < 4 or 1 != 2

True

In [49]:
not 7.5 < 0.9

True

In [50]:
not 7.5 < 0.9 or 4 == 4

True

In [51]:
not(7.5 < 0.9 or 4 == 4)

False

In [52]:
not(7.5 < 0.9 and 4 == 4)

True

# Strings

- A Python string onject is an ordered, immutable
sequence of characters.

- To define a  variable containing some string, enclose the text in either single or double quotes.

- Strings used to store text data in python

In [17]:
greet = Sairam

NameError: name 'Sairam' is not defined

In [22]:
greet = "Sairam, I'm Sampath!"
greet
print(greet)

Sairam, I'm Sampath!

In [23]:
type(greet)

str

In [24]:
# + operator useful to perform adding strings
'Sairam'+ 'Sampath'

'SairamSampath'

In [27]:
'Sairam'+' '+  'Sampath'

'Sairam Sampath'

Python doesn't place any restriction on the length of a line. However, it's recommended that the maximum length of each line string of length upto 79 characters. To break up a string over two or more lines of code, use the line continuation character, "\" or enclose the string literal in parentheses.

In [32]:
# Multiple lines
long_string = 'Sairam brothers, we continue to learning python,'\
'during the course, we also solve problems from MDSC-101,102 and 103...'

In [33]:
long_string

'Sairam brothers, we continue to learning python,during the course, we also solve problems from MDSC-101,102 and 103...'

In [11]:
# empty string
s = ''
s

''

In [35]:
# Converting int to string
str(42)
a ='42'
type(a)

str

In [36]:
int(a)

42

In [38]:
int(greet)

ValueError: invalid literal for int() with base 10: "Sairam, I'm Sampath!"

In [15]:
str(3.4e-2)

'0.034'

In [16]:
str(3.4e2)

'340.0'

### Escape Sequences
- Do you want include both quotes in a string?
- Do you want include more than one line in the string?

This case is handled by special escape sequences indicated by a
backslash, \. 

### Common Python escape sequences
|Escape sequence | Meaning         |
| -------------- | -------         |
|\'              | Single quote(') |
|\"              | Double quote(") |
|\n              | Linefeed(LF)    |
|\r              | Carriage return |
|\t              | Horizontal tab  |
|\b              | Backspace       |
|\\              | The backslach character itself |
|\u, \U, \N{}    | Unicode character|
|\x              | Hex-encoded byte |

In [52]:
sentence = "He said, \bThis parrot's dead."
print(sentence)

He said,This parrot's dead.

In [20]:
print(sentence)

He said, "This parrot's dead."

In [21]:
subjects = 'MDSC-101\nMDSC-102\nMDSC-103\nMDSC-106'
subjects

'MDSC-101\nMDSC-102\nMDSC-103\nMDSC-106'

In [22]:
print(subjects)

MDSC-101
MDSC-102
MDSC-103
MDSC-106

### Note:

-  By typing a variable’s name at the Python shell prompt simply echoes its
literal value back to you (in quotes).
- To produce the desired string including the proper interpretation of special characters, pass the variable to the `print` built-in function.


If you want to define a string to include character sequences such
as “\n” without them being escaped, define a raw string prefixed with `r`.

In [55]:
rawstring = r'The escape sequence for a new line \n.'
rawstring

'The escape sequence for a new line \\n.'

In [56]:
print(rawstring)

The escape sequence for a new line \n.

### Triple-quoted strings
When defining a block of text including several line endings it is often inconvenient to
use \n repeatedly. This can be avoided by using _triple-quoted_ strings: new lines defined
within strings delimited by """ and ''' are preserved in the string.

In [28]:
a = """
Hello!!
How are you?
Sairam.
"""
a

'\nHello!!\nHow are you?\nSairam.\n'

In [29]:
print(a)

Hello!!
How are you?
Sairam.

In [32]:
'\b'

'\x08'

## Indexing and Slicing Strings
- *Indexing* a string returns a single character at a given location. Like
all sequences in Python, strings are indexed with the first character having the index 0;
- *Slicing* a string, $s[i:j],$ produces a substring of a string between the characters at two
indexes, including the first (i) but excluding the second (j);

In [58]:
a = 'Knight'
a[0]

'K'

In [34]:
a[-1]

't'

In [35]:
a[-4]

'i'

In [36]:
a[6]

IndexError: string index out of range

In [61]:
a[:3]

'Kni'

In [38]:
a[:3]

'Kni'

In [39]:
a[3:]

'ght'

In [64]:
a = "Studing python"
len(a)

14

In [69]:
a[1:11]

'tuding pyt'

In [76]:
a[::1]

'Studing python'

In [63]:
a[::-1]

'thginK'

In [42]:
a[:3]+a[3:] == a

True

In [43]:
a[3:10]

'ght'

In [77]:
# To test if a string contains a given substring
'kni' in a

False

In [45]:
'kni' in a

False

In [78]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [95]:
# Stride in a string
# To return every kth letter,
# set the stride to k.

s = 'Hemanth Sai Pavan'
s # striding 2 over s

'Hemanth Sai Pavan'

In [96]:
s.replace(s[3],'b')

'Hembnth Sbi Pbvbn'

In [48]:
s[::3]

'Re nas'

In [49]:
s[1::2]

'oetLnlns'

In [51]:
# Reversing a string
s[::-1]

'sdnalgnaL treboR'

## String Methods
- Python strings are *immutable* objects.
- It's NOT possible to change a string by assignment
- New strings can be constructed from existing strings, but only as new objects
- To find the number of characters a string contains, we use `len` built-in method

In [8]:
a = 'Knight'
a[0] = 'b'

TypeError: 'str' object does not support item assignment

In [6]:
a += ' King'
a

'Knight KingKing'

In [54]:
a

'Knight King'

In [7]:
len(a)

15

In [110]:
s= "HemanthSaiPavan"

In [113]:
s.join("Kumar")

'KHemanthSaiPavanuHemanthSaiPavanmHemanthSaiPavanaHemanthSaiPavanr'

### Some common string Methods
![Drag Racing](2021-08-22.png)

In [58]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [59]:
a.lower()

'knight king king'

In [60]:
a.upper()

'KNIGHT KING KING'

In [62]:
a

'Knight King King'

In [64]:
a.replace('King','Queen')

'Knight Queen Queen'

In [65]:
a.split()

['Knight', 'King', 'King']

## The `print` function

- In Python 3, `print` is a built-in function
- We discuss two standard string formating, number formatting methods

In [66]:
'{} plus {} equals {}'.format(2,3,'five')

'2 plus 3 equals five'

In [9]:
a =134
'a={0:5d}'.format(a) #decimal

'a=  134'

In [13]:
'a={0:10b}'.format(a) #binary

'a=  10000110'

In [14]:
'a={0:5f}'.format(a)

'a=134.000000'

In [16]:
print('{0:5d}\n{1:5d}\n={2:+3d}'.format(-4510,1001,-3026))

-4510
 1001
=-3026

In [74]:
a = 1.464e-7
'{0:g}'.format(a)

'1.464e-07'

In [2]:
a = 134

In [5]:
'{0:4f}'.format(a)

'134.000000'

In [6]:
'{0:10f}'.format(a)

'134.000000'

## f-strings
-  A string literal denoted with a `f` before the quotes can evaluate expressions placed within braces, including references to variables, function calls and comparisons
- This provides an expressive and concise way to define string objects
- It supported from Python 3.6+

In [8]:
name = "Langlands"
"The name {} has {} characters in it and the number of a's {}".format(name, len(name),name.count('a'))

"The name Langlands has 9 characters in it and the number of a's 2"

In [10]:
name = 'Langlands'
f'The name {name} has {len(name)} letters and {name.lower().count("a")} "a" s.'

'The name Langlands has 9 letters and 2 "a" s.'

In [11]:
Hyd_Bangalore = 635
Bangalore_Chennai = 462
total_distance = Hyd_Bangalore + Bangalore_Chennai
print(f"The total distance travelled: {total_distance} km")

The total distance travelled: 1097 km

In [20]:
mph = 60
time = total_distance / mph
print(f'Total time taken to travel {total_distance}  km is {round(time,3)}')

Total time taken to travel 1097  km is 18.283

# Lists
- Python provides data structures for holding an *ordered* list of objects
- In languages like C and Fortran such data structure is called an *array* and it can hold only one type of data (for instance, an array of integers)
- The array structure in python can hold a mixture of data types
- A Python *list* is an ordered, mutable array of objects.
- A list is constructed by specifying the objects, separated by commas, between square brackets []
- Python list can contain references to any type of object: strings, the various
types of numbers, built-in constants such as the boolean value True, and even other lists.

In [13]:
list1 = [1, 'two', 3.14, 0]
list1

[1, 'two', 3.14, 0]

In [14]:
type(list1)

list

In [21]:
a = 4
list2 = [2, a, -0.1, list1, True]
list2

[2, 4, -0.1, [1, 'two', 3.14, 0], True]

In [23]:
list2[-1][0]

TypeError: 'bool' object is not subscriptable

In [90]:
# empty list
list0 = []
list0

[]

In [19]:
list2[3][1][2]

'o'

In [20]:
list2[3][1]

'two'

In [94]:
list2[3]

[1, 'two', 3.14, 0]

In [26]:
list2[3][1][:2]

'tw'

In [27]:
list2

[2, 4, -0.1, [1, 'two', 3.14, 0], True]

In [24]:
4 in list2

True

In [28]:
10 in list2

False

In [29]:
'two' in list2

False

In [30]:
'two' in list2[3]

True

In [29]:
q1 = [1, 2, 3]
q1[1] = 'two'
q1

[1, 'two', 3]

In [33]:
# Slicing the list
q1 = [0., 0.1, 0.2, 0.3, 0.4, 0.5,0.7,0.8]
q1[1:7:2]

[0.1, 0.3, 0.5]

In [ ]:
q1[::-1] # return a reversedcopy of the list

[0.5, 0.4, 0.3, 0.2, 0.1, 0.0]

In [ ]:
q1[1::3] # striding: returns element at 1, 3, 5

[0.1, 0.4, 0.8]

In [ ]:
q2 = q1[1:4] 
q2[1] = 99 
q2

[0.1, 99, 0.3]

In [ ]:
q1

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5]

## List Methods
- Python *list* come with a large number of useful methods.
- Since the *list* are mutable, they can grow or shrink in a place
- Some useful *list* methods
  - `append` - add an item to the end of the list
  - `extend` - add one or more objects by copying them from another list
  - `insert` - insert an item at a specified index;
  - `remove` - remove a specified item from the list.
  - `reverse` - Reverse the list in place
  - `sort` - Sort the list in place
  - `copy` - Return a copy of the list
  - `count` - Return the number of elements equal to element in the list
  - `index` - Return the lowest index of the list containg element
  - `pop` - Remove and return the last element from the list

In [34]:
q1.append?

Signature: q1.append(object, /)
Docstring: Append object to the end of the list.
Type:      builtin_function_or_method

In [ ]:
q = []
q.append(4)
q

[4]

In [ ]:
q.extend([6,7,9])
q

[4, 6, 7, 9]

In [ ]:
q.insert(1,5) # insert 5 at index 1
q

[4, 5, 6, 7, 9]

In [ ]:
q.remove(7)

In [ ]:
q

[4, 5, 6, 9]

In [ ]:
q.append(6)
q

[4, 5, 6, 9, 6]

In [ ]:
q.index(6)

2

In [ ]:
q.sort()
q

[4, 5, 6, 6, 9]

In [ ]:
q.reverse()
q

[9, 6, 6, 5, 4]

In [ ]:
q.pop()
q

['a', 'e', 'b', 'f', 'A']

In [ ]:
q = ['a', 'e','b','f','A','X']
q.sort()

AttributeError: 'list' object has no attribute 'sorted'

In [ ]:
sorted(q)

['A', 'X', 'a', 'b', 'e', 'f']

In [ ]:
q.sort()
q

['A', 'X', 'a', 'b', 'e', 'f']

> By default, `sort()` and `sorted()` order the items in an array in *ascending order*

In [ ]:
sorted(q,reverse=True) # for descending order

['f', 'e', 'b', 'a', 'X', 'A']

In [ ]:
q = [5, '4', 3, 2, 1]
sorted(q)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
q.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

# Tuples
- A tuple can be thought as an immutable list.
- Tuples are constructed by placing the items inside the parentheses.
- Tuples can be *indexed* and *sliced* in the same way as *lists* but, being *immutable*, they
cannot be *appended* to, *extended* or have elements removed from them.

In [ ]:
t = (1,'two',3)
t

(1, 'two', 3)

In [ ]:
type(t)

tuple

In [ ]:
t[1]

'two'

In [ ]:
t[2] = 4

TypeError: 'tuple' object does not support item assignment

In [35]:
t = (1, list1, 0)
t

(1, [1, 'two', 3.14, 0], 0)

In [39]:
t[1][0]=4

In [40]:
t

(1, [4, 'two', 3.14, 0], 0)

In [41]:
type(t[1])

list

In [ ]:
t[1][1] = 'Three' # Ok to change the list within the tuple
t

(1, [1, 'Three', 3.14, 0], 0)

# Disctionaries

- A *disctionay* in Python is a type of "associative array"
- A dictionary can contain any objects as its values, but unlike sequences such as lists and tuples, in which the items are indexed by an integer starting at 0, each item
in a dictionary is indexed by a unique *key*, which may be any *immutable* object.
- The distcionry is a collection of *key-value* pairs
- Disctionaries are *mutable* objects
- The dictionary *keys* must be unique, the dictionary *values* need not be.

In [42]:
height = {'Burj Khalifa': 828., 'One World Trade Center': 541.3,
          'Mercury City Tower': -1., 'Q1':323.,
          'Eiffel Tower': 324}

In [43]:
height

{'Burj Khalifa': 828.0,
 'One World Trade Center': 541.3,
 'Mercury City Tower': -1.0,
 'Q1': 323.0,
 'Eiffel Tower': 324}

In [44]:
type(height)

dict

In [45]:
height[0]

KeyError: 0

In [46]:
height['Burj Khalifa']
#height[0]

828.0

In [ ]:
building = 'Q1'
height[building]

323.0

In [ ]:
height['The Shard'] = 306.0
height['Q1'] = 306.0

In [ ]:
height

{'Burj Khalifa': 828.0,
 'One World Trade Center': 541.3,
 'Mercury City Tower': -1.0,
 'Q1': 306.0,
 'Eiffel Tower': 324,
 'The Shard': 306.0}

An alternative way of defining a dictionary is to pass a sequence of *(key, value)*
pairs to the dict constructor.

In [47]:
ordinal = dict([(1,'First'),(2,'Second'),(3,'Third')])
mass = dict(Mercury=3.301e23, Venus=4.867e24, Earth=5.972e24)
mass

{'Mercury': 3.301e+23, 'Venus': 4.867e+24, 'Earth': 5.972e+24}

In [52]:
mass.items()

dict_items([('Mercury', 3.301e+23), ('Venus', 4.867e+24), ('Earth', 5.972e+24)])

In [ ]:
mass['Earth']

5.972e+24

In [ ]:
ordinal[2]

'Second'

## Methods in Dictionary
Some useful dictionary methods.
- `get` - used to retrive the value, given a key if it exists
- `keys` - return a dictioney keys
- `values` - return a dictionary values
- `items` - return a dictionary items

In [ ]:
dir(mass)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
mass.items()

TypeError: dict.items() takes no arguments (1 given)

In [ ]:
mass.keys()

dict_keys(['Mercury', 'Venus', 'Earth'])

In [ ]:
planets = mass.keys()
planets

dict_keys(['Mercury', 'Venus', 'Earth'])

In [ ]:
print(planets)

dict_keys(['Mercury', 'Venus', 'Earth'])

In [ ]:
planet_list = list(mass.keys())

In [ ]:
planet_list

['Mercury', 'Venus', 'Earth']

In [ ]:
planet_list[0]

'Mercury'

# Sets

- A `set` is an *unordered* collection of  *unique items*
- A set is useful for removing duplicates from a sequence
and for determining the union, intersection and difference between two collections.
- Since they are unordered, set objects cannot be indexed or sliced, but they can be iterated over, tested for membership and they support the `len` built-in.
- A `set` is created by listing its elements between braces ({...}) or set() constructor.

In [ ]:
s = set([1,1,4,3,2,2,3,4,1,3,'Surprise!'])
s

{1, 2, 3, 4, 'Surprise!'}

In [ ]:
type(s)

set

In [ ]:
len(s)

5

In [ ]:
2 in s

True

In [ ]:
6 not in s

True

In [ ]:
4 in s, 6 not in s

(True, True)

## Methods in set
The following are some useful methods in set object
- `add` - to add elemts to given set
- `remove` - to remove a specified element but raises a *KeyError exception* if the element is not present in the set;
- `discard` - It does the same as remove but does not raise an
error in this case.
- `pop` -  removes an arbitrary element from the set 
- `clear` -removes all elements from the set

In [ ]:

s = {2, -2, 0}
s.add(1)
s

{-2, 0, 1, 2}

In [ ]:
s.add(-1)
s.add(1.0)
s

{-2, -1, 0, 1, 2}

In [ ]:
s.remove(3)
s

KeyError: 3

In [ ]:
s.discard(3)
s

{-2, -1, 0, 2}

In [ ]:
s.remove(3)

KeyError: 3

In [ ]:
s.pop()
s

{-2, -1, 2}

In [ ]:
s.clear()
s

set()

In [ ]:
dir(s)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### Set methods for set operations
- union
- intersection
- difference
- symmetric_difference
- isdisjoint
- issubset
- issuperset

In [ ]:
A = set([1,2,3])
B = set((1,2,3,4))
A <= B

True

In [ ]:
(A.issubset(B)) == (A <= B)

True

In [ ]:
C, D = set((3,4,5,6)), set((7,8,9))
# B or C # union

{1, 2, 3, 4}

In [ ]:
B | C # union

{1, 2, 3, 4, 5, 6}

In [ ]:
A | C | D # A U C U D

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
A & C # intersection

{3}

In [ ]:
C & D

set()

In [ ]:
C.isdisjoint(D)

True

In [ ]:
B - C # difference

{1, 2}

In [ ]:
B^C # symmetric difference

{1, 2, 5, 6}

In [ ]:
(B - C) | (C- B)

{1, 2, 5, 6}

## Frozensets
- sets are mutable objects
- A frozenset object is immutable set
- Frozensets are fixed, unordered collections of unique objects and can be used as dictionary keys and
set members.

In [ ]:
a = set((1,2,3))
b = set(('q',(1,2),a))

TypeError: unhashable type: 'set'

In [ ]:
a = frozenset((1,2,3))
b = set(('q',(1,2),a))
b

{(1, 2), frozenset({1, 2, 3}), 'q'}

In [ ]:
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

## Questions for Revision

These review questions copied from [Jovian](https://jovian.ai/aakashns/python-variables-and-data-types/v/12#C353) page

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What is a variable in Python?
2. How do you create a variable?
3. How do you check the value within a variable?
4. How do you create multiple variables in a single statement?
5. How do you create multiple variables with the same value?
6. How do you change the value of a variable?
7. How do you reassign a variable by modifying the previous value?
8. What does the statement `counter += 4` do?
9. What are the rules for naming a variable?
10. Are variable names case-sensitive? Do `a_variable`, `A_Variable`, and `A_VARIABLE` represent the same variable or different ones?
11. What is Syntax? Why is it important?
12. What happens if you execute a statement with invalid syntax?
13. How do you check the data type of a variable?
14. What are the built-in data types in Python?
15. What is a primitive data type? 
16. What are the primitive data types available in Python?
17. What is a data structure or container data type?
18. What are the container types available in Python?
19. What kind of data does the Integer data type represent?
20. What are the numerical limits of the integer data type?
21. What kind of data does the float data type represent?
22. How does Python decide if a given number is a float or an integer?
23. How can you create a variable which stores a whole number, e.g., 4 but has the float data type?
24. How do you create floats representing very large (e.g., 6.023 x 10^23) or very small numbers (0.000000123)?
25. What does the expression `23e-12` represent?
26. Can floats be used to store numbers with unlimited precision?
27. What are the differences between integers and floats?
28. How do you convert an integer to a float?
29. How do you convert a float to an integer?
30. What is the result obtained when you convert 1.99 to an integer?
31. What are the data types of the results of the division operators `/` and `//`?
32. What kind of data does the Boolean data type represent?
33. Which types of Python operators return booleans as a result?
34. What happens if you try to use a boolean in arithmetic operation?
35. How can any value in Python be covered to a boolean?
36. What are truthy and falsy values?
37. What are the values in Python that evaluate to False?
38. Give some examples of values that evaluate to True.
39. What kind of data does the None data type represent?
40. What is the purpose of None?
41. What kind of data does the String data type represent?
42. What are the different ways of creating strings in Python?
43. What is the difference between strings creating using single quotes, i.e. `'` and `'` vs. those created using double quotes, i.e. `"` and `"`?
44. How do you create multi-line strings in Python?
45. What is the newline character, `\n`?
46. What are escaped characters? How are they useful?
47. How do you check the length of a string?
48. How do you convert a string into a list of characters?
49. How do you access a specific character from a string?
50. How do you access a range of characters from a string?
51. How do you check if a specific character occurs in a string?
52. How do you check if a smaller string occurs within a bigger string?
53. How do you join two or more strings?
54. What are "methods" in Python? How are they different from functions?
55. What do the `.lower`, `.upper` and `.capitalize` methods on strings do?
56. How do you replace a specific part of a string with something else?
57. How do you split the string "Sun,Mon,Tue,Wed,Thu,Fri,Sat" into a list of days?
58. How do you remove whitespace from the beginning and end of a string?
59. What is the string `.format` method used for? Can you give an example?
60. What are the benefits of using the `.format` method instead of string concatenation?
61. How do you convert a value of another type to a string?
62. How do you check if two strings have the same value?
63. Where can you find the list of all the methods supported by strings?
64. What is a list in Python?
65. How do you create a list?
66. Can a Python list contain values of different data types?
67. Can a list contain another list as an element within it?
68. Can you create a list without any values?
69. How do you check the length of a list in Python?
70. How do you retrieve a value from a list?
71. What is the smallest and largest index you can use to access elements from a list containing five elements?
72. What happens if you try to access an index equal to or larger than the size of a list?
73. What happens if you try to access a negative index within a list?
74. How do you access a range of elements from a list?
75. How many elements does the list returned by the expression `a_list[2:5]` contain?
76. What do the ranges `a_list[:2]` and `a_list[2:]` represent?
77. How do you change the item stored at a specific index within a list?
78. How do you insert a new item at the beginning, middle, or end of a list?
79. How do you remove an item from al list?
80. How do you remove the item at a given index from a list?
81. How do you check if a list contains a value?
82. How do you combine two or most lists to create a larger list?
83. How do you create a copy of a list?
84. Does the expression `a_new_list = a_list` create a copy of the list `a_list`?
85. Where can you find the list of all the methods supported by lists?
86. What is a Tuple in Python?
87. How is a tuple different from a list?
88. Can you add or remove elements in a tuple?
89. How do you create a tuple with just one element?
90. How do you convert a tuple to a list and vice versa?
91. What are the `count` and `index` method of a Tuple used for?
92. What is a dictionary in Python?
93. How do you create a dictionary?
94. What are keys and values?
95. How do you access the value associated with a specific key in a dictionary?
96. What happens if you try to access the value for a key that doesn't exist in a dictionary?
97. What is the `.get` method of a dictionary used for?
98. How do you change the value associated with a key in a dictionary?
99. How do you add or remove a key-value pair in a dictionary?
100. How do you access the keys, values, and key-value pairs within a dictionary?