In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp

In [2]:
heights = np.array([5.6,5.8,5.5,5.8,5.6,5.4,5.10,5.10,5.8,5.4,5.9,5.9,5.6,5.7,5.11,6.2,5.10,6.0,5.7,5.4])
df = pd.DataFrame(heights, columns=['Height'])
df

    Height
0     5.60
1     5.80
2     5.50
3     5.80
4     5.60
5     5.40
6     5.10
7     5.10
8     5.80
9     5.40
10    5.90
11    5.90
12    5.60
13    5.70
14    5.11
15    6.20
16    5.10
17    6.00
18    5.70
19    5.40

In [3]:
df.shape

(20, 1)

In [9]:
df['Height'].mean()

5.585500000000001

In [51]:
def ConfidenceIntervals(df, alpha):   
    bounds = {} 
    for col in df:
        row = []
        lb = (df[col].mean() + (sp.stats.t.ppf(alpha/2, df.shape[0] - 1) * (df[col].std() / np.sqrt(df.shape[0]))))
        ub = (df[col].mean() + (sp.stats.t.ppf(1 - (alpha/2), df.shape[0] - 1) * (df[col].std() / np.sqrt(df.shape[0]))))
        row.append(lb)
        row.append(ub)
        bounds[col] = row
    return bounds

In [52]:
bounds = ConfidenceIntervals(df, 0.05)
bounds

{'Height': [5.435339678488178, 5.735660321511824]}

In [54]:
bounds_df = pd.DataFrame(bounds, index=['Lower Bound', 'Upper Bound'])
bounds_df

              Height
Lower Bound  5.43534
Upper Bound  5.73566